@-o-keyframes rotate {
  /* line 22, ../scss/mixins.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 23, ../scss/mixins.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 26, ../scss/mixins.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 27, ../scss/mixins.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 30, ../scss/mixins.scss */
  from {
    -ms-transform: rotate(0deg);
  }

  /* line 31, ../scss/mixins.scss */
  to {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  /* line 34, ../scss/mixins.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 35, ../scss/mixins.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-keyframes rotate {
  /* line 38, ../scss/mixins.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 39, ../scss/mixins.scss */
  to {
    transform: rotate(360deg);
  }
}
