.homepage {
  @include clearfix;
}

.map {
  @include column('1/1', 1);
  height: 500px;
}

.filter-tool {
  @include clearfix;

  section {
    @include column('1/3',3);
    height: auto;
  }
}

.filter-tool__neighborhood {
  columns: 2;
}
