.homepage {
  lost-utility: clearfix;
}

.map {
  lost-column: 1/1;
  height: 500px;
}

.filter-tool {
  lost-utility: clearfix;

  section {
    lost-column: 1/3;
    height: auto;
  }
}

.filter-tool__neighborhood {
}
