
.author-title {
	h1 {
		display: inline-block;
		line-height: 75px;
		margin: 0 0 0 15px;
	}

	img {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}
}

.author-meta {
	font-size: 16px;
	margin: 1em 0 0;

	.listing-count,
	.favorite-count {
		display: inline-block;
		vertical-align: middle;
		margin: 0 1em 0 0;

		&:before {
			@extend .ionicon;
			font-size: 24px;
			margin: -4px 6px 0 0;
		}
	}

	.listing-count:before {
		content: '\f181';
	}

	.favorite-count:before {
		content: '\f198';
	}
}

.ion-social-jabber:before {
	@extend .ionicon;
	content: "\f235";
}
